.row {
  margin-right: 0px;
  margin-left: 0px; }

.title {
  text-align: center;
  margin: 20px;
  font-family: Comic Sans MS; }
  .title h1 {
    font-size: 70px; }
  .title p {
    font-size: 50px; }

.list {
  text-align: center;
  margin: auto; }
  .list .list-item {
    font-size: 20px;
    margin: 3px;
    padding: 4px 6px;
    border-radius: 20px;
    display: inline-block; }
    .list .list-item i {
      color: white;
      font-size: 25px;
      margin: 5px; }
  .list .list-icons {
    font-size: 15px;
    display: inline-block; }
    .list .list-icons a {
      text-decoration: none; }
    .list .list-icons i {
      padding: 5px;
      border-radius: 50%;
      margin-right: 5px;
      font-size: 20px; }

.navbar {
  background-color: #007554; }

.navbar .nav-item .nav-link {
  color: white;
  font-size: 30px;
  margin-right: 10px; }

.logo a {
  border: 3px solid white;
  border-radius: 50%;
  text-align: center; }

.navbar-brand {
  padding: 3px; }

.navbar-collapse {
  float: right; }

.intro {
  min-height: 600px;
  background-color: #005860; }
  .intro .intro-img img {
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    border: 5px solid white;
    padding: 10px;
    border-radius: 50%;
    height: 350px;
    width: 350px; }
  .intro .title {
    color: white; }
  .intro P {
    font-size: 25px;
    color: white;
    font-family: Courier New; }

.about {
  padding-top: 20px;
  padding-bottom: 20px; }
  .about .info .card {
    text-align: center;
    font-family: arial;
    max-width: 400px;
    border: 2px solid;
    border-image: conic-gradient(white, #007554, white, orange, white, #007554, white, orange, white) 1; }
    .about .info .card .cardimg img {
      height: 200px;
      width: 200px;
      padding: 5px;
      border-radius: 50%;
      border: 3px solid #007554; }
    .about .info .card .degree {
      color: #005860;
      font-size: 25px; }
    .about .info .card button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px; }
      .about .info .card button a {
        text-decoration: none;
        color: white; }
    .about .info .card .list-icons {
      color: #005860; }
      .about .info .card .list-icons a {
        color: #005860; }
      .about .info .card .list-icons i {
        border: 2px solid #005860; }
      .about .info .card .list-icons:hover a {
        color: #005860; }
      .about .info .card .list-icons:hover i {
        color: white;
        border: 2px solid white;
        background-color: #005860; }
  .about .tech {
    font-size: 20px;
    font-weight: 400;
    color: white; }
    .about .tech .col {
      border-radius: 20px; }
    .about .tech p {
      font-size: 40px;
      color: #005860; }

.portfolio {
  background-color: #005860;
  padding-top: 30px;
  padding-bottom: 30px; }
  .portfolio .disabled {
    pointer-events: none;
    opacity: 0.2; }
  .portfolio .title {
    color: white; }
  .portfolio .list .active {
    background-color: #005860 !important;
    color: white !important; }
  .portfolio .list .list-item {
    background-color: white;
    color: #005860;
    border: 2px solid white; }
    .portfolio .list .list-item:hover {
      background-color: #005860;
      color: white;
      border: 2px solid white; }
  .portfolio .projects .project {
    position: relative;
    width: 100%; }
    .portfolio .projects .project .image {
      opacity: 1;
      display: block;
      height: 250px;
      width: 100%;
      transition: 0.5s ease;
      backface-visibility: hidden;
      border-radius: 20px; }
    .portfolio .projects .project .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    .portfolio .projects .project:hover .image {
      opacity: 0.3; }
    .portfolio .projects .project:hover .middle {
      opacity: 1; }
    .portfolio .projects .project .text a {
      text-decoration: none;
      background-color: white;
      border-radius: 20px;
      color: #005860;
      font-size: 15px;
      padding: 15px 25px; }

.footer {
  text-align: center; }
  .footer .title {
    color: #005860;
    margin: 0px;
    background: linear-gradient(to right, #F11A5F 0%, #FF4800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600; }
  .footer .copyright {
    border-top: 1px solid grey; }
    .footer .copyright p {
      color: grey;
      padding: 5px;
      margin: 0px; }
