.about {
    padding-top: 20px;
    padding-bottom: 20px;
  .info {
      
    .card {
        text-align: center;
        font-family: arial;
        max-width: 400px;
        border: 2px solid;
        border-image: conic-gradient(white ,$colorP, white, orange, white, $colorP,white, orange,white) 1;
        .cardimg {
            
            img {
                height: 200px;
                width: 200px;
                padding: 5px;
                border-radius: 50%;
                border: 3px solid $colorP;
            }
        }

        .degree {
            color: $colorS;
            font-size: 25px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            a{
                text-decoration: none;
                color: white ;
            }
        }
        .list-icons {
            @include icons-colors($colorS , white);
        }
    }
  }

    .tech {
        font-size: 20px;
        font-weight: 400;
        color: white;
        .col {
            border-radius: 20px;
        }
        p {
            font-size: 40px;
            color: $colorS;
        }
    }
}
