.about {
    padding-top: 20px;
    padding-bottom: 20px;
    .container {
        padding: 10px;
        
    }
  .info {
  
    .card {
        border: 3px solid;
        border-image: conic-gradient(white ,$colorS, white, orange, white, $colorS,white, orange,white) 1;
        padding: 15px;
        font-family: arial;
        max-width: 400px;
        
        .cardimg {
            
            img {
                height: 200px;
                width: 200px;
                padding: 5px;
                border-radius: 50%;
                border: 3px solid $colorP;
            }
        }

        .degree {
            color: $colorS;
            font-size: 25px;
        }


        .list-icons {
            @include icons-colors($colorS , white);
        }
    }
  }

    .tech {
        font-size: 20px;
        font-weight: 400;
        color: white;
        
        .col {
            border-radius: 20px;
        }
        p {
            font-size: 40px;
            color: $colorS;
        }
    }
}
