.footer {
    text-align: center;
    .title {
     p{
        color: $colorO;
        font-size: 50px; 
        font-family: cursive;
     }
    }
    .copyright {
        background-color: $colorP;
        
        p {
            color: white;
            padding: 5px;
            margin: 0px;
        }
    }
}
