.footer {
    text-align: center;
    .title {
        @include title-colors($light-theme: true);
    }
    .list-icons {
        margin : 15px ;
        @include icons-colors($colorS , white);
        @media #{$minMeduim} {
            padding-right: 5px;
            margin-right: 10px;
        }
       
    }
    .copyright {
        border-top: 1px solid grey;
        p {
            color: grey;
        }
    }
}
