.footer {
    text-align: center;
    .copyright {
        background-color: $colorP;
        p {
            font-size: 25px;
            color: white;
            padding: 5px;
            margin: 0px;
        }
    }
}
