.intro {
    min-height: 600px;
    background-color: $colorS;
    .intro-img img {
        border: 5px solid $colorP;
        border-radius: 50%;
        height: 350px;
        width: 350px;
    }
    .title {
        @include title-colors($light-theme: false);
    }
    .list .list-item {
        @include list-colors($light-theme: true);
    }
    .list-icons {
        @include icons-colors(white , $colorS);
        @media #{$maxMobile} {
            display: inline-block !important;
        }
        i {
            font-size: 30px !important;
            padding: 10px !important;
        }
    }
}
