.intro {
    min-height: 600px;
    background-color: $colorS;
    .intro-img img {
        background-color: $colorO;
        border: 6px solid white;
        padding: 5px;
        @media (max-width: 767px) {
            height: 350px;
            width: 350px;
        }
        height: 500px;
        width: 500px;
    }
    .title {
        font-family: cursive;
        h1 {
            color: white;
            font-size: 100px;
            font-weight: 700;
            
        }
        P {
            font-size: 40px;
            color: white;
        }
    }
}
