.navbar  {
    
    background-color:$colorP;
}
.navbar .nav-item  .nav-link  {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}
.logo a {
    border: 3px solid white;
    border-radius: 50%;
    text-align: center;
}
.navbar-brand { padding: 3px;}
.navbar-collapse {
    float: right;
}