.navbar {
    background-color: $colorP;
}
.navbar .nav-item .nav-link {
    color: white;
    font-size: 25px;
    margin-right: 10px;
    &:hover {
        color: $colorO;
    }
}
.logo a {
    border: 5px solid $colorO;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    &:hover {
        border: 5px solid white;
        background-color: $colorO;
    }
}
.navbar-brand {
    padding: 5px;
}
.navbar-collapse {
    float: right;
}
