.portfolio {
    background-color: $colorS;
    padding-top: 30px;
    padding-bottom: 30px;
    .title {
        @include title-colors($light-theme: false);
    }
    .list {
        .active {
            background-color: $colorS !important;
            color: white !important;
        }
        .list-item {
            @include list-colors($light-theme: true);
        }
        .disabled {
            pointer-events:none; //This makes it not clickable
            opacity:0.2;         //This grays it out to look disabled
        }
    }
    .projects {
        .card-group {
            .card {
                border-radius: 25px;
                .card-img-top {
                    border-radius: 25px 25px 0px 0px;
                    width: 100%;
                }
                .card-body {
                    .card-title {
                        color: $colorS;
                    }
                    .card-tech {
                        margin-bottom: 10px;
                        .list-item {
                            @include list-colors($light-theme: false);
                            font-size: 15px;
                        }
                    }
                    .livepreview {
                        a {
                            text-decoration: none;
                            @include list-colors($light-theme: true);
                            font-size: 20px;
                            padding: 5px 15px;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }
}
