.portfolio {
    background-color: $colorS;
    padding-top: 30px;
    padding-bottom: 30px;
    .disabled {
        pointer-events: none; //This makes it not clickable
        opacity: 0.2; //This grays it out to look disabled
    }
    .title {
        font-size: 70px;
        font-weight: 400;
        font-family: cursive;
        text-align: center;
        color: white;
    }
    .list {
        .list-item {
            border-radius: 25px;
            margin: 8px;
            padding: 5px;
            text-align: center;
            color: white;
            font-size: 20px;
            background-color: $colorP;
            &:hover {
                background-color: $colorO;
                color: white;
            }
        }
        .active {
            background-color: $colorO;
            color: white;
        }
    }
    .projects {
        .box {
            //margin: auto;
            padding: 10px;
            .pic {
                background-image: url('../../img/featured/none.jpg');
                height: 350px;
                background-color: #85ffbd;
                background-size: cover;
                background-position: top;
                transition: ease-in-out 2s;
                &:hover {
                    background-position: bottom;
                    transition: ease-in-out 6s;
                }
            }
            .pic1 {
                background-image: url('../../img/featured/sass.jpg');
            }
            .pic2 {
                background-image: url('../../img/featured/bootstrap4.jpg');
            }
            .pic3 {
                background-image: url('../../img/featured/js.jpg');
            }
            .pic4 {
                background-image: url('../../img/featured/sass2.jpg');
            }
            .middle {
                background-color: #fbab7e;
                background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
                text-align: center;
                padding-block: 5px;
                &:hover {
                    background-color: #fbab7e;
                    background-image: linear-gradient(225deg, #fbab7e 0%, #f7ce68 100%);
                }
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                    font-family: cursive;
                    &:hover {
                        color: $colorP;
                    }
                }
            }
        }
    }
}
