.services {
    margin-top: 50px;
    margin-bottom: 50px;
    .title {
        @include title-colors($light-theme: true);
    }
    .card {
        border-radius: 20px;
        text-align: center;

        .card-header {
            color: white;
            font-size: 25px;
            border-radius: 20px 20px 0px 0px;
        }
        .card-body {
            padding: 30px;
            .list .list-item {
                @include list-colors($light-theme: false);
                font-size: 20px !important;
            }
        }
    }
}
