.services {
    margin-top: 20px;
    margin-bottom: 20px;
    .tech {
        font-size: 30px;
        font-weight: 400;
        color: white;
        .title {
            @include title-colors($light-theme: true);
            P {
                font-size: 35px !important;
            }
        }
    }
    .backimg {
        img {
            border: 5px solid rgb(104, 235, 104);
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            width: 100%;
            padding: 10px;
        }
    }
}
