//changement des couleur a condition de backgroundcolor
$light-background: white;
$light-text: $colorS;
$dark-background: $colorS;
$dark-text: white;

@mixin list-colors($light-theme: true) {
    @if $light-theme {
        background-color: $light-background;
        color: $light-text;
        border: 2px solid $dark-background;
        &:hover {
            background-color: $dark-background;
            color: $dark-text;
            border: 2px solid $light-background;
        }
    } @else {
        background-color: $dark-background;
        color: $dark-text;
        border: 2px solid $light-background;
        &:hover {
            background-color: $light-background;
            color: $light-text;
            border: 2px solid $dark-background;
        }
    }
}
//changement couleur de title
@mixin title-colors($light-theme: true) {
    @if $light-theme {
        color: $light-text;
    } @else {
        color: $dark-text;
    }
}
// color icons
@mixin icons-colors($color1 , $color2) {
   
        color: $color1;
        a {
            color: $color1;
        }
        i {
            border: 2px solid $color1;
        }
        &:hover {
            
        a {
            color: $color1;
        }
        i {
            color: $color2;
            border: 2px solid $color2;
            background-color: $color1;
        }
        }
  
}
