$colorP : #264653; 
$colorS : #2A9D8F;
$colorO : #F39530 ;

$maxMobile :"(max-width: 767px)";
$minSmall :"(min-width: 768px)";
$maxSmall :"(max-width: 991px)";
$minMeduim :"(min-width: 992px)";
$minLarge :"(min-width: 1200px)";

.row {
    margin-right: 0px; 
    margin-left: 0px;
}